@import 'my-component';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}


.container {
    width: 100%;
    margin: auto;
}

.credit-calculator {
    background-image: url(./реклама/image4.png);
    background-size: cover;
    background-repeat: no-repeat;

    &-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 3rem;
        position: relative;
        gap: 1rem;

        @media(max-width:600px) {
            padding: 2rem;
        }

        @media(max-width:600px) {
            display: flex;
            flex-direction: column;
        }

        .form {
            display: flex;
            flex-direction: column;
            padding: 2rem;
            gap: 1rem;
            background-color: #41332ca5;
            border-radius: .3rem;

            @media(min-width:1500px) {
                width: 30%;
                max-width: 500px;
            }

            .header {
                font-size: 1.1rem;
                color: #2680A6;
            }

            .form-input {
                padding: 1rem 2rem;
                border-radius: .4rem;
                border: none;
            }

            .button {
                padding: 1rem;
                background-color: #2680A6;
                color: white;
                text-align: center;
                border-radius: .4rem;
                opacity: .99;

                &:hover {
                    background-color: #19556e;
                }
            }

        }

        .information {
            display: flex;
            align-items: center;
            font-size: 3.2rem;
            color: white;
            text-align: center;
            text-shadow: 1px 1px 2px rgb(63, 62, 62);

            .blue {
                color: #2680A6;
                font-weight: 600;
            }

            @media(max-width:600px) {
                font-size: 1.9rem;
            }

            @media(min-width:1500px) {
                font-size: 4rem;
            }
        }
    }
}